# Different string method

## split()
Splits the string and returns a list

In [15]:
#example
s= "apple#banana#cherry#orange"
print(s.split("#"))

['apple', 'banana', 'cherry', 'orange']

In [17]:
splt = "hello Nagpur"
x = splt.split()
print(x)

['hello', 'Nagpur']

## capitalize()
it helps to convert the first character of string into upper case

In [33]:
#example
s = "welcome to python programming"
print(s.capitalize())

Welcome to python programming

In [35]:
x = "25 is my age"
print(x.capitalize())

25 is my age

## isupper
Returns True if all characters in the string are upper case otherwise returns false

In [43]:
                               #example
s = "PYTHON PROGRAMMING IS FUN"
print(s.isupper())

s = "python programming is not fun"
print(s.isupper())

True
False

## islower
Returns True if all characters in the string are upper case otherwise returns false

In [47]:
                       #example
s = "PYTHON PROGRAMMING IS FUN"
print(s.islower())

s = "python programming is not fun"
print(s.islower())

False
True

## swapcase()	
Swaps cases, lower case becomes upper case and vice versa

In [50]:
                #example
s = "PYTHON PROGRAMMING IS FUN"
print(s.swapcase())

s = "python programming is not fun"
print(s.swapcase())

python programming is fun
PYTHON PROGRAMMING IS NOT FUN

## title()	
Converts the first character of each word to upper case

In [60]:
s = "python programming is not fun"
print(s.title())

Python Programming Is Not Fun

## strip()	
Returns a trimmed version of the string

In [58]:
#example 
fruit = "     apple     "
x = fruit.strip()
print("of all fruits", x, "is my favorite")

of all fruits apple is my favorite

In [68]:
s = "     chilly     "
print(s.strip())

chilly

## find()	
Searches the string for a specified value and returns the position of where it was found

In [74]:
                     #example
s= " welcome to the programming world"
print(s.find ("programming"))

s= " welcome to the programming world"
print(s.find ("world"))

16
28

## replace()
Returns a string where a specified value is replaced with a specified value

In [76]:
# example
s= " welcome to the programming world"
print(s.replace ("programming","python"))

s= " welcome to the programming world"
print(s.replace ("world","languages"))

 welcome to the python world
 welcome to the programming languages

## join

In [81]:
s = "hello jupyter notebook"
print("-".join(['hello','jupyter','notebook']))

hello-jupyter-notebook

In [85]:
s = "java python"
print("&".join(['java ',' python']))

java & python

## center()
Returns a centered string

In [4]:
#example
s= "apple"
print(s.center(25))

s= "i love my country"
print(s.center(50))

          apple
                i love my country

## count()
Returns the number of times a specified value occurs in a string

In [7]:
#example
x = "i like oranges,but more than oranges i love apples"
print(x.count("oranges"))

2

In [13]:
x = "i like oranges,but more than oranges i love mango and mango is king of of the fruits"
print(x.count("mango"))

2

## encode()	
Returns an encoded version of the stringng

In [24]:
txt = "My name is St√•le"
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

## endswith()	
Returns true if the string ends with the specified value

In [28]:
s = "hello,welcome to the world of devlopment."
print(s.endswith("."))

x = "hello,welcome to the world of devlopment."
print(x.endswith(","))

True
False

## expandtabs()	
Sets the tab size of the string

In [34]:
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(1)
print(x)

txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

txt = "H\te\tl\tl\to"
x =  txt.expandtabs(3)
print(x)

H e l l o
H e l l o
H  e  l  l  o

## index()	
Searches the string for a specified value and returns the position of where it was foundfier()

In [43]:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

## isalnum()
Returns True if all characters in the string are alphanumeric

In [45]:
txt = "Company12"
x = txt.isalnum()
print(x)

True

In [47]:
txt = "Company"
x = txt.isalnum()
print(x)

True

## isalpha()	
Returns True if all characters in the string are in the alphabet

In [49]:
txt = "Company"
x = txt.isalpha()
print(x)

True

In [53]:
txt = "Company12"
x = txt.isalpha()
print(x)

False

## isascii()	
Returns True if all characters in the string are ascii characters

In [55]:
txt = "Company123"
x = txt.isascii()
print(x)

True

## isdecimal()	
Returns True if all characters in the string are decimals

In [57]:
txt = "1234"
x = txt.isdecimal()
print(x)

True

In [59]:
a = "\u0030" 
b = "\u0047" 

print(a.isdecimal())
print(b.isdecimal())

True
False

## isdigit()	
Returns True if all characters in the string are digits

In [61]:
txt = "50800"
x = txt.isdigit()
print(x)

True